.columns-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  > * {
    flex-basis: 300px;
  }
}

.add-task-form {
  width: 300px;
}

.control-part {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  h3 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
  }
  > * {
    flex-basis: 300px;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
  }
}
