.task-item {
  text-align: center;
  padding: 10px;
  background-color: rgba(219, 219, 219, 0.822);
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  word-break: break-all;
  h3 {
    margin: 0;
  }
  .edit-btn {
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
  }
}

.one-day-left {
  background-color: yellow;
}

.last-day {
  background-color: orange;
}

.expired {
  background-color: red;
  color: #fff;
}
