.column-item {
  display: flex;
  background-color: #fff;
  min-height: 80vh;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
}

.column-heading {
  text-align: center;
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
  margin-bottom: 20px;
}