.single-task-form {
  width: 500px;
  margin: 0 auto;
}

.back-link {
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  &:hover {
    text-decoration: none;
    color: #ddd
  }
}